
.Legal {
  background-position: -305px -605px;
  width: 228px;
  height: 268px;
  top: 166px;
  left: 37px;
}
.bg-1 {
  background-position: -1px -1px;
  width: 302px;
  height: 602px;
  top: -1px;
  left: -1px;
}
.bg-2 {
  background-position: -305px -1px;
  width: 302px;
  height: 354px;
  top: -1px;
  left: -1px;
}
.bg-3 {
  background-position: -609px -1px;
  width: 302px;
  height: 354px;
  top: -1px;
  left: -1px;
}
.bg-4 {
  background-position: -913px -1px;
  width: 302px;
  height: 354px;
  top: -1px;
  left: -1px;
}
.bg-5 {
  background-position: -1px -605px;
  width: 302px;
  height: 354px;
  top: -1px;
  left: -1px;
}
.f2-hd-copy-1 {
  background-position: -913px -530px;
  width: 144px;
  height: 47px;
  top: 441px;
  left: 84px;
}
.f3-hd-copy-1 {
  background-position: -913px -397px;
  width: 197px;
  height: 50px;
  top: 440px;
  left: 51px;
}
.f4-hd-copy-1 {
  background-position: -913px -449px;
  width: 125px;
  height: 79px;
  top: 441px;
  left: 87px;
}
.f5-hd-btn-replay {
  background-position: -1112px -397px;
  width: 14px;
  height: 15px;
  top: 335px;
  left: 283px;
}
.f5-hd-copy-1 {
  background-position: -1040px -449px;
  width: 144px;
  height: 50px;
  top: 431px;
  left: 68px;
}
.f5-hd-cta {
  background-position: -913px -357px;
  width: 302px;
  height: 38px;
  top: 563px;
  left: -1px;
}
.hover {
  background-position: -1112px -414px;
  width: 9px;
  height: 16px;
  top: 573px;
  left: 124px;
}
